# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=adminpassword
POSTGRES_DB=attendance_system

# Backend Configuration
PORT=3000
JWT_SECRET=supersecretkey_for_attendance_app
AI_SERVICE_URL=http://ai_worker:8000

# Backend specific variables
DB_HOST=db
DB_PORT=5432
MATCH_THRESHOLD=0.5
